html {
    scroll-behavior: smooth;
}

.about-1 {
    margin-top   : 80px;
    margin-bottom: 15px;
}

.fa {
    padding        : 5px;
    font-size      : 25px;
    width          : 30px;
    text-align     : center;
    text-decoration: none;
}

.mail {
    padding        : 5px;
    font-size      : 15px;
    width          : 30px;
    text-align     : center;
    text-decoration: none;
}
